@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$primary:  #dddddd;
$secondary:#8d93ab;//#03506f;
$surface:#393b44;//#cfcfcf;
$error: #B00020;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    background: $primary;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.wrapper {
    height: 100%;
    width: 100%;
    .menus {
        width: 80%;
        height: 5rem;
        margin-left: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        ul{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            li{
                list-style: none;
                color: $surface;
                font-size: 1.6rem;
                display: grid;
                place-items: center;
                border-radius: .5rem;
                height: 3rem;
                width: 8rem;
                box-shadow: inset -.2rem -.2rem .4rem darken($primary,50%), inset .2rem .2rem .4rem lighten($primary,50%);
            }
        }
    }
}

.undoRedoErr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    width: 300px;
    background: $error;
    font-size: 20px;
    color: $surface;
    display: none;
    z-index: 20;
    place-items: center;
}
.err {
    display: grid;
}
.shapeTools{
    margin: 1rem auto;
    padding-left: 5rem;
    height: 3rem;
    gap: .5rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    #stroke {
        width: 15rem;
        height: 2.5rem;
        border: .1rem solid #fff;
        margin: 5rem 0rem;
        &:focus {
            outline: none;
        }
    }
    #lineWidth {
        border: .1rem solid #fff;
        width: 7rem;
        height: 2.5rem;
        &:focus {
            outline: none;
        }
    }
    .cp_wrapper {
        position: relative;
        border: .1rem solid #fff;
        overflow: hidden;
        width: 10rem;
        height: 2.5rem;
        display: grid;
        place-items: center;
    }
    .background{
        position: absolute;
        font-size: 1.4rem;
        pointer-events: none;
    }
    #strokeColor,#fillColor {
        width: 200%;
        height: 200%;
    }
    
}
.textTools{
    margin: 1rem auto;
    padding-left: 5rem;
    height: 3rem;
    gap: .5rem;
    width: 80%;
    display: none;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    .fontName {
        width: 15rem;
        height: 2.5rem;
        border: .1rem solid #fff;
        margin: 5rem 0rem;
        &:focus {
            outline: none;
        }
    }
    .fontSize {
        border: .1rem solid #fff;
        width: 7rem;
        height: 2.5rem;
        &:focus {
            outline: none;
        }
    }
}
.container {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    gap: .5rem;
    //margin: 0 auto;
    height: calc(100% - 9rem);
    .tools {
        width: 8rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: .5rem;
        .button {
            height: 3rem;
            width: 3rem;
            font-size: 1.8rem;
            font-weight: bolder;
            position: relative;
            background: $primary;
            color: $surface;
            border-radius: 50%;
            border: none;
            outline: none;
            box-shadow: inset 3px 3px 8px lighten($primary, 50%), inset -3px -3px 8px darken($primary, 100%);  
            &::after {
                content: attr(data-title);
                position: absolute;
                height: 2rem;
                width: 10rem;
                background: rgba(03,50,65,.7);
                color: $surface;
                left: 100%;
                top: .5rem;
                line-height: 2rem;
                font-size: 1.4rem;
                font-weight: normal;
                display: none;
                z-index: 100;
                border-radius: .4rem ;
            }
            &:hover::after {
                display: block;
            }
        }
        .activeBtn{
            background: $surface;
            color: $primary;
            border: none;
            outline: none;
            border: .1rem solid $surface;
            box-shadow: inset 3px 3px 8px lighten($surface, 50%), inset -3px -3px 8px darken($primary, 100%);
        }
        .polygonOptions{
            position: absolute;
            top: 32rem;
            left: 8rem;
            display: none;
            background: $primary;
            border: .2rem solid $primary;
            padding: 1rem;
            grid-template-rows: 4rem;
            border-radius: 1rem;
            grid-template-columns: repeat(auto-fit, 3rem);
            box-shadow: inset .2rem .2rem .7rem darken($primary, 100%), inset -.2rem -.2rem .7rem lighten($primary, 50%);
            gap: .5rem;
            width: 20rem;
            z-index: 100;
            &::before {
                content: "";
                position: absolute;
                top: .5rem;
                left: -2.5rem;
                border-top: 1rem solid transparent;
                border-bottom: 1rem solid transparent;
                border-right: 2.5rem solid darken($primary, 20%);
                z-index: 0;
            }
            .polygonOpt{
                border: none;
                font-size: 2rem;
                height: 3rem;
                width: 3rem;
                color: $surface;
                background: $primary;
                box-shadow: inset 4px 4px 7px lighten($primary, 50%), inset -4px -4px 10px darken($primary, 100%);
                text-align: center;
                border-radius: 50%;

                &:focus{
                    outline: none;
                }
            }
        }
        .cp_wrapper {
            width: 4rem;
            height: 4rem;
            margin-top: 1rem;
            position: relative;
            .foreColor {
                position: absolute;
                height: 3rem;
                width: 3rem;
                overflow: hidden;
                display: grid;
                place-items: center;
                z-index: 2;
                input{
                    height: 200%;
                    width: 200%;
                }
            }
            .backColor {
                position: absolute;
                height: 3rem;
                width: 3rem;
                top: 1.5rem;
                left: 1.5rem;
                overflow: hidden;
                display: grid;
                place-items: center;
                box-shadow: 2px 2px 2px #5f0345;
                z-index: 1;
                input{
                    height: 200%;
                    width: 200%;
                }
            }
        }
        
    }
    .canvasContainer {
        width:  calc(100% - 35rem);
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        background: $primary;
        border: 2px solid darken($primary, 10%);
        //box-shadow: -8px -8px 8px #f8f8f8, 5px 5px 10px #888;
          #leftCanvas{
            position: absolute;
            left: 0;
            top: 5px;
            background: $primary;
            z-index: 1;
            display: none;
            }
            #topCanvas{
                position: absolute;
                top: 0;
                left: 20px;
                background: $primary;
                z-index: 1;
                display: none;
            }
            #cornerCanvas {
                position: fixed;
                top: 50px;
                left:204px;
                display: none;
                background: $secondary;
                z-index: 100;
            }
            .editorContainer {
                position: relative;
                overflow: scroll;
                display: grid;
                place-items: center;
                height: 100%;
                width: 100%;
                scrollbar-color: $secondary;
                scrollbar-width: thin;
                &::-webkit-scrollbar{
                    width: 10px;
                    height: 10px;
                    border-radius: 40px;
                    background: $primary;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $secondary;
                    border-radius: 20px;
                  }
                #canvas{ 
                    transition: .5s all ease-in-out;
                    // margin: 2rem;  
                    background: #fff;
                    cursor: crosshair;
                    z-index: 0;
                }
            }
        #text {
            position: absolute;
            display: none;
            height: 4rem;
            width: 30rem;
            font-size: 2rem;
            border: .1rem dashed #000;
            z-index: 5;
            &:focus {
                outline: none;
                border: .1rem dashed #000;
            }
        }
    }
    .toolbar {
        width: 20rem;
        height: 100%;
        margin-left: 1rem;
        border-radius: 1rem;
        //box-shadow: inset .5rem .5rem 1rem lighten($primary, 30%),inset -.5rem -.5rem 1rem darken($primary, 50%);
        .editor-tools{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h1{
                font-size: 2.5rem;
                font-weight: bold;
                color: $primary;
                text-shadow: .1rem .1rem .1rem darken($primary, 50%), -.1rem -.1rem .1rem lighten($primary, 30%);
            }
            .canvas-tools {
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(8rem, 8rem));
                gap: 1rem;
                .tool{
                    display: flex;
                    flex-direction: column;
                    box-shadow: inset .3rem .3rem .5rem lighten($primary, 30%),inset -.3rem -.3rem .5rem darken($primary, 50%);
                    //background: darken($primary,5%);
                    width: 8.5rem;
                    height: 6rem;
                    gap: .5rem;
                    border-radius: .5rem;
                    justify-content: center;
                    align-items: center;
                }
                label{
                    font-size: 1.2rem;
                    color: $surface;
                }
                select,input {
                    width: 6rem;
                    height: 2rem;
                    border: none;
                    border-radius: .3rem;
                    text-align: center;
                    color: $surface;
                    background: $primary;
                    box-shadow: inset -.2rem -.2rem .5rem lighten($primary, 30%), inset .2rem .2rem .5rem darken($primary, 50%);
                    &:focus {
                        outline: none;
                        border: none;
                    }
                }
                input [type = "color"]{
                    transform: scale(2);
                }
            }
        }
    }
    
}
@media print {
    body{
        visibility: hidden;
    }
    #canvas {
        visibility: visible;
        top: .5rem;
        left: .5rem;
    }
}